

.CoffeeButton{
	background-image: none;
	-fx-background-image:url("coffee.png");
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.TeaButton{
	background-image: none;
	-fx-background-image:url("tea.png");
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.CrosButton{
	background-image: none;
	-fx-background-image:url("cors.jpg");
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.CookieButton{
	background-image: none;
	-fx-background-image:url("cookie.jpg");
	background-size: auto;
	-fx-background-size: 100% 100%;
}

.macButton{
	background-image: none;
	-fx-background-image:url("mac.jpg");
	background-size: auto;
	-fx-background-size: 100% 100%;
}

